<h1> Team Details </h1>


<h2><%= @team.name %> </h2>



<h2> <%= @team.name %>'s Coaches </h2>
<% @team.coaches.each do |coach|%>
  <ul>
    <li> <%= link_to coach.name, coach%>      </li>
  </ul>
<%end%>


<h2> <%= @team.name %>'s Players </h2>
<h4> Player Count: <%=@team.players.count%>  </h4>

<p>
<% @team.players.each do |player|%>
  <ul>
    <li> <%= link_to player.name, player%>  and thier position is <%= player.position%>     </li>
  </ul>
<%end%>
</p>



