
<h2> NAME: <%= @coach.name%>    </h2>


<h4> Team Coached </h4>
<p>   <%= link_to @coach.team.name, @coach.team%>   </p>

<h4>  Team Win/Loss  </h4>

<p> Wins:    <%=@coach.team.win%>
    Losses:    <%=@coach.team.loss%>
</p>



<h4> TRAINING TIMES </h4>

<p>
			<% @coach.trainings.each do |tra|%>
 			 <p> Date: <%= tra.next_training%>   -- Player: <%= link_to tra.player.name, tra.player%>   </p>
			<%end%>
</p>